{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div>
    <div class="go-back-button orange-text">
        <i class="fa-solid fa-circle-left"></i>
    </div>
</div>
<div class="container-fluid description-container texture mt-0">     
    <div class="row overlay-card overlay-card-details moonstone">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2 p-2 mt-5">
            <h5 class="mb-0 mt-3 d-flex align-items-center justify-content-center">You are reviewing</h5>
            <br>
            <a href="{% url 'product_detail' product.id %}">
                <h2 class="mt-0 d-flex align-items-center justify-content-center xanthous-text">
                    <strong>{{ product.name }}</strong>
                </h2>
            </a>
            <hr>
            {% if user.is_authenticated %}
                {% if rating %}
                <div>
                    <small class="onyx-text">                                
                        You rated this product a : 
                        <i class="fas fa-star mr-1"></i>
                        {{ rating.rating }} / 5
                    </small>
                </div>                                                             
                {% endif %}
                <form class="p-3 review-form" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                
                    <button class="mt-0 xanthous onyx-text float-right" type="submit">Post Review</button>
                </form>
            {% endif %}                    
        </div>
        <div class="col-12 col-md-6 col-lg-4 xanthous mt-5">
            <div class="image-container review-page-image my-1 mt-3">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
            <a href="{% url 'product_detail' product.id %}">
                <h4 class="mb-0 mt-3 moonstone-text">{{ product.name }}</h4>
            </a>
            <hr>
            <div>                                      
                {% if product.aggregaterating %}
                <small class="onyx-text"><i class="fas fa-star mr-1"></i>{{ product.aggregaterating }} / 5</small>
                {% else %}
                    <small class="onyx-text mt-0 mb-1"><em>This product has no rating yet</em></small>
                {% endif %}                    
            </div>
            <div class="product-details-container mb-5 mt-md-5 p-2 moonstone">
                <p class="mt-3">{{ product.description }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}

{{ block.super }}
{% include 'includes/go-back-button.html' %}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}