{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
{% endblock %}

{% block content %}

<div class="go-back-button onyx rounded-circle white-text d-flex align-items-center justify-content-center">
    <i class="fa-solid fa-circle-left"></i>
</div>

<div class="max-content">
    <a href="{% url 'product_detail' product.id %}" class="start-font display-4 moonstone-text section-heading m-0 p-0">
        <h5 class="orange-text m-2 p-2">
            Update Review: <strong class="ml-1"> {{ product.name }}</strong>
        </h5>
    </a>
</div>

<div class="decoration-stripe xanthous"></div>

<div class="container-fluid description-container max-content mt-0">     
    <div class="row overlay-card overlay-card-details moonstone">
        <div class="col-12 col-sm-6 mt-3">
            
            <div class="col-12 col-lg-8 offset-lg-2">
                
                <div class="row onyx white-text">
                    <div class="col-12 text-right float-right">
                        <p class="mb-0"><small>{{ review.created_at|date:"F d, Y" }}</small></p>
                    </div>             
                    <div class="col-12 pl-3 float-left">
                        <strong>{{ review.title }}</strong>
                    </div>
                    <div class="col-12">
                        <p class="whitespace-wrap px-1 mb-0">{{ review.body }}</p>  
                    </div> 
                    <div class="col-12 text-right float-right pt-3">
                        <a class="text-danger white px-1 float-right" href="{% url 'delete_review' review.id %}">
                            <strong>DELETE</strong>
                        </a>
                    </div>                                  
                </div>

                {% if user.is_authenticated %}
                {% if rating %}
                <div>
                    <small class="onyx-text">                                
                        You rated this product a : 
                        <i class="fas fa-star mr-1"></i>
                        {{ rating.rating }} / 5
                    </small>
                </div>                                                             
                {% endif %}
                <div class="p-3 offset-col-md-2 ">
                    <form class="review-form" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                    
                        <button class="mt-0 xanthous onyx-text float-right" type="submit">Post Review</button>
                    </form>
                </div>
            {% endif %}  
            </div>

        </div>

        <div class="col-12 col-sm-6 mt-3">
            <div class="col-12 col-lg-8 offset-lg-2 xanthous m-1 p-2">
                <div class="image-container review-page-image my-1 mt-3">
                    {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                </div>
                <a href="{% url 'product_detail' product.id %}">
                    <h4 class="mb-0 mt-3 moonstone-text">{{ product.name }}</h4>
                </a>
                <hr>
                <div>                                      
                    {% if product.aggregaterating %}
                    <small class="onyx-text"><i class="fas fa-star mr-1"></i>{{ product.aggregaterating }} / 5</small>
                    {% else %}
                        <small class="onyx-text mt-0 mb-1"><em>This product has no rating yet</em></small>
                    {% endif %}                    
                </div>
                <div class="product-details-container mb-5 mt-md-5 p-2 moonstone">
                    <p class="mt-3">{{ product.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}

{{ block.super }}
{% include 'includes/go-back-button.html' %}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}