{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="max-content rounded m-3">
        <div class="moonstone-75 rounded">
            <div class="start-font display-4 section-heading m-0 p-0">
                <h2 class="xanthous-text m-2 p-2">Shopping Bag</h2>
            </div>
        </div>
    </div>

    <div class="container xanthous w-100 big-bottom">
        <div class="row butterscotch">
            <div class="col">
                {% if bag_items %}
                <div class="decoration-stripe"></div>
                    <div class="d-block d-md-none">
                        <div class="row">
                            <div class="col pink text-right">
                                {% include "bag/bag-total.html" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center moonstone">
                                {% include "bag/checkout-buttons.html" %}
                            </div>
                        </div>

                        <div clas="col-12 xanthous">
                            <p class="onyx-text text-center my-1">
                                <strong>
                                    A summary of your bag contents is below
                                </strong>
                            </p>
                        </div>

                        {% for item in bag_items %}
                            <div class="row xanthous pt-2">
                                <div class="col-12 col-sm-6 mb-2">
                                    {% include "bag/product-image.html" %}
                                </div>
                                <div class="col-12 col-sm-6 mb-2">
                                    {% include "bag/product-info.html" %}
                                </div>
                                <div class="col-12 col-sm-6 order-sm-last">
                                    <p class="my-0">Price Each: ${{ item.product.price }}</p>
                                    <p><strong>Subtotal: </strong>${{ item.product.price | calc_subtotal:item.quantity }}</p>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group input-group-{{ item.item_id }}">
                                                <div class="pointer-on-hover input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm btn-black rounded-0 decrement-qty_{{ item.item_id }} 
                                                        {% if item.variant %}decrement-variant_{{ item.item_id }}_{{ item.variant }}{% endif %}" 
                                                        data-item_id="{{ item.item_id }}" data-variant="{{ item.variant }}">
                                                        <span>
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input id_qty_{{ item.item_id }} 
                                                    {% if item.variant %}variant_{{ item.item_id }}_{{ item.variant }}{% endif %}" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                    data-item_id="{{ item.item_id }}" data-variant="{{ item.variant }}">
                                                <div class="pointer-on-hover input-group-append">
                                                    <button class="increment-qty btn btn-sm btn-black rounded-0 increment-qty_{{ item.item_id }} 
                                                        {% if item.variant %}increment-variant_{{ item.item_id }}_{{ item.variant }}{% endif %}"
                                                        data-item_id="{{ item.item_id }}" data-variant="{{ item.variant }}">
                                                        <span>
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                {% if item.product.has_variants %}
                                                    <input type="hidden" name="product_variant" value="{{ item.variant }}">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </form>
                                    <div class="pt- mt-0">
                                        <a class="update-link xanthous px-2 pointer-on-hover"><strong>Update</strong></a>
                                        <a class="remove-item text-danger float-right pointer-on-hover" id="remove_{{ item.item_id }}" data-product_variant="{{ item.variant }}"><strong>Remove</strong></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row"></div>
                        {% endfor %}
                    </div>

                    <div class="table-responsive rounded d-none d-md-block">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr class="xanthous p-1">
                                    <td class="p-3 w-25">
                                        {% include "bag/product-image.html" %}
                                    </td>
                                    <td class="py-3">
                                        {% include "bag/product-info.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group input-group-{{ item.item_id }}">
                                                    <div class="pointer-on-hover input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-black rounded-0 decrement-qty_{{ item.item_id }} 
                                                            {% if item.variant %}decrement-variant_{{ item.item_id }}_{{ item.variant }}{% endif %}" 
                                                            data-item_id="{{ item.item_id }}" data-variant="{{ item.variant }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input id_qty_{{ item.item_id }} 
                                                        {% if item.variant %}variant_{{ item.item_id }}_{{ item.variant }}{% endif %}" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}" data-variant="{{ item.variant }}">
                                                    <div class="pointer-on-hover input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-black rounded-0 increment-qty_{{ item.item_id }} 
                                                            {% if item.variant %}increment-variant_{{ item.item_id }}_{{ item.variant }}{% endif %}"
                                                            data-item_id="{{ item.item_id }}" data-variant="{{ item.variant }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    {% if item.product.has_variants %}
                                                        <input type="hidden" name="product_variant" value="{{ item.variant }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </form>
                                        <div class="pt- mt-0">
                                            <a class="update-link xanthous px-2 pointer-on-hover"><strong>Update</strong></a>
                                            <a class="remove-item text-danger float-right pointer-on-hover" id="remove_{{ item.item_id }}" data-product_variant="{{ item.variant }}"><strong>Remove</strong></a>
                                        </div>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 pink text-right white-text pr-4">
                                    {% include "bag/bag-total.html" %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="moonstone text-right">
                                    {% include "bag/checkout-buttons.html" %}
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <div class="butterscotch p-2">
                        <p class="py-3 lead orange d-flex align-items-center justify-content-center mb-5">Your bag is empty.</p>
                        <a href="{% url 'products' %}" class="btn moonstone px-4 p-1 rounded-0 btn-lg">
                            <span class="icon white-text">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="white-text text-uppercase">Keep Shopping</span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="decoration-stripe xanthous"></div>
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        e.preventDefault();
        var form = $(this).closest('.col').find('.update-form'); // Locate the closest form element
        form.submit();
    });

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var variant = $(this).data('product_variant');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_variant': variant};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}