{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="index-logo">
        <div class="logo-limit">
            <h1 class="display-4 texture-text orange-text">
                Pixel Palace Arcade
            </h1>
        </div>
    </div>
    <div class="my-5">
        <h4>
            <a href="{% url 'products' %}" class="shop-now-button py-3 texture-text pink-text">
                Browse the collection
            </a>
        </h4>
    </div>

 {% endblock %}