{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="index-background"></div>

    <div class="title-border">
        <div class="custom-container">
            <div class="max-content">
                <div class="pink">
                    <h1 class="index-logo max-content-text onyx-text p-1 m-0 mx-1">
                        Pixel Palace
                    </h1>
                </div>
            </div>
        </div>
    
        <div class="custom-container">
            <div class="max-content">
                <div class="xanthous">
                    <h2 class="index-logo start-font max-content-text onyx-text p-1 m-0 mx-1">
                        Arcade
                    </h2>
                </div>
            </div>
        </div>
    
        <div class="custom-container call-to-action">
            <div class="max-content">
                <div class="moonstone">
                    <a href="{% url 'products' %}" class="text-uppercase onyx-text">
                        <strong><p class="flicker my-0 mx-1">Browse the collection</p></strong>
                    </a>
                </div>
            </div>
        </div>
    </div>

 {% endblock %}