{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/dwhennrjl/raw/upload/v1685971817/static/profiles/css/profile.652147a13ad2.css">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}

    {% if request.user.is_authenticated and avatar.user == request.user %}  

        <div class="texture rounded m-3">
            <div class="xanthous-75 rounded">
                <h2 class="logo-font start-font moonstone-text section-heading m-2 p-2 mb-4 d-flex justify-content-center">
                    My Avatar
                </h2>
            </div>
        </div>

        <div class="container-fluid m-0">
            <div class="row moonstone opacity-90">
                <div>
                    <div class="go-back-button xanthous-text mt-2">
                        <i class="fa-solid fa-circle-left"></i>
                    </div>
                </div>

                <div class="col-12 mt-5 m-0">     
                        <div class="image-container col-4 offset-3">
                            {% if avatar.image %}
                            <a href="{{ avatar.image.url }}" target="_blank">                    
                                <img class="card-img-top img-fluid" src="{{ avatar.image.url }}" alt="{{ avatar.avatar_name }}'s Avatar">
                            </a>
                            {% else %}
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ avatar.avatar_name }}'s Avatar">
                            {% endif %}
                        </div>
                
                    <div class="text-center mt-2">
                        <div>
                            <h3>{{ avatar.avatar_name }}</h3>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center" >
                        <i class="fa-solid fa-skull onyx-text mr-2"></i>
                        <a class="onyx-text d-flex align-items-center justify-content-center" href="{% url 'delete_avatar' %}">
                            <p>
                            Forfeit this hero? 
                            </p>                       
                        </a>
                    </div>
                    <div class="d-flex justify-content-center mb-3" >
                        <a href="{% url 'avatar_form' %}" class="xanthous-text d-flex align-items-center justify-content-center">
                            <h5>
                                <i class="fa-solid fa-pen-to-square"></i>
                                Edit your Avatar
                            </h5>                       
                        </a>
                    </div> 
                </div>
          
            </div>     
        </div>

    {% else %}

    <script>
        // JavaScript code to redirect to the homepage for rouge users
        window.location.href = "{% url 'home' %}";
    </script>

    {% endif %}

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'includes/go-back-button.html' %}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>

    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
    <script type="text/javascript" src="https://res.cloudinary.com/dwhennrjl/raw/upload/v1685971818/static/profiles/js/countryfield.242381779a53.js"></script>
{% endblock %}