{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/dwhennrjl/raw/upload/v1685971817/static/profiles/css/profile.652147a13ad2.css">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="texture rounded m-3">
        <div class="xanthous">
            <h2 class="logo-font start-font moonstone-text section-heading m-2 p-2 mb-4 d-flex justify-content-center">
                My Avatar
            </h2>
        </div>
    </div>

    <div class="container-fluid m-0">
        <div class="row moonstone opacity-90">
            <div>
                <div class="go-back-button xanthous-text mt-2">
                    <i class="fa-solid fa-circle-left"></i>
                </div>
            </div>

            <div class="col-12 col-lg-6 mt-5 m-0">
            {% if request.user.is_authenticated and avatar.user == request.user %}  
                <div class="d-flex justify-content-center" >
                    <a class="xanthous-text" href="{% url 'profile' %}">
                        <h5 class="mb-4">
                            Continue with this hero? 
                            <i class="fa-solid fa-rotate-left"></i>
                        </h5>                  
                    </a>
                </div>              
                <a class="d-flex justify-content-center" href="{{ avatar.image.url }}" target="_blank">                    
                    <div class="image-container col-3">
                        {% if avatar.image %}
                            <img class="card-img-top img-fluid" src="{{ avatar.image.url }}" alt="{{ avatar.avatar_name }}'s Avatar">
                        {% else %}
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ avatar.avatar_name }}'s Avatar">
                        {% endif %}
                    </div>
                </a>                 
                <div class="text-center mt-2">
                    <div>
                        <h3>{{ avatar.avatar_name }}</h3>
                    </div>
                </div>
                <div class="d-flex justify-content-center" >
                    <i class="fa-solid fa-skull onyx-text mr-2"></i>
                    <a class="onyx-text d-flex align-items-center justify-content-center" href="{% url 'delete_avatar' %}">
                        <p>
                           Forfeit this hero? 
                        </p>                       
                    </a>
               </div> 
            </div>

            <div class="col-12 col-lg-6 mt-5 m-0 ">                                  
                <h4 class="text-center">Edit your Avatar</h4>
                <div class="d-flex align-items-center justify-content-center">                    
                    <form method="POST" class="form mb-2 text-center" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ avatar_form|crispy }}
                    </form>
                </div>
                <div class="text-center mb-5">
                    <div class="d-inline-block m-0 xanthous display-4 rounded-circle">
                        <button class="btn rounded-0 white-text" type="submit">
                            <i class="ml-3 fa-solid fa-user-shield display-4"></i>
                            <h4>Begin!</h4>
                        </button>
                    </div>
                </div>
            {% endif %}                
            </div>            
        </div>     
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'includes/go-back-button.html' %}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>

    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
    <script type="text/javascript" src="https://res.cloudinary.com/dwhennrjl/raw/upload/v1685971818/static/profiles/js/countryfield.242381779a53.js"></script>
{% endblock %}