{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/dwhennrjl/raw/upload/v1685971817/static/profiles/css/profile.652147a13ad2.css">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay-card">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <hr>
                    <h2 class="logo-font mb-4">My Profile</h2>
                    <hr>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col-12 col-lg-6">
                    {% if avatar %}
                        {% if request.user.is_authenticated and avatar.user == request.user %}                
                    <a class="d-flex justify-content-center" href="{% url 'edit_avatar' %}">
                        <div class="image-container col-3">
                            {% if avatar.image %}
                                <img class="card-img-top img-fluid" src="{{ avatar.image.url }}" alt="{{ avatar.avatar_name }}'s Avatar">
                            {% else %}
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ avatar.avatar_name }}'s Avatar">
                            {% endif %}
                        </div>
                    </a>                 
                    <div class="text-center">
                        <a class="d-flex justify-content-center" href="{% url 'edit_avatar' %}">
                            <div>
                                {{ avatar.avatar_name }}
                            </div>
                        </a>
                    </div>
                    <hr>                    
                        {% endif %}
                    {% else %}                        
                        {% if request.user.is_authenticated %}
                            <div>
                                <form method="POST" class="form mb-2" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ avatar_form|crispy }}
                                    <div class="text-right">
                                        <button class="btn btn-black rounded-0" type="submit">
                                            <i class="fa-solid fa-user-shield"></i>
                                             Begin!
                                        </button>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                            <div class="text-center">                            
                                <hr>
                            </div>
                    {% endif %}                
                </div>            
            </div>
            <div class="col-12">
                <p class="text-muted">Your Product Reviews</p>
                <div class="order-history table-responsive">
                    <table class="table table-sn table-borderless">
                        <thread>
                            <tr>
                                <th>Product</th>
                                <th>Title</th>
                                <th>Comment</th>
                                <th>Date</th>
                            </tr>
                        </thread>
                        <tbody>
                            {% for review in reviews %}
                            <tr>
                                <td><a href="{% url 'product_detail' review.product.id %}">{{ review.product }}</a></td>
                                <td>{{ review.title }}</td>
                                <td>{{ review.body }}</td>
                                <td>{{ review.created_at }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>     
            <div class="row">
                <div class="col-12 col-lg-6">
                    <p class="text-muted">Default Delivery Information</p>
                    <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-black rounded-0 text-uppercase float-right">Update Information</button>
                    </form>
                </div>
                <div class="col-12 col-lg-6">
                    <p class="text-muted">Order History</p>
                    <div class="order-history table-responsive">
                        <table class="table table-sn table-borderless">
                            <thread>
                                <tr>
                                    <th>Order Number</th>
                                    <th>Date</th>
                                    <th>Items</th>
                                    <th>Order Total</th>
                                </tr>
                            </thread>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number}}">
                                        {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="listed-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {% if item.product.has_variants %}
                                                        Console {{ item.product.variant|upper }}
                                                    {% endif %}{{ item.product.name }} x{{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>€{{ order.grand_total }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>

    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
    <script type="text/javascript" src="https://res.cloudinary.com/dwhennrjl/raw/upload/v1685971818/static/profiles/js/countryfield.242381779a53.js"></script>
{% endblock %}