{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}

  <div class="texture rounded m-3">
    <div class="white">
        <div class="start-font display-4 section-heading m-0 p-0">
            <h2 class="orange-text m-2 p-2">Pending<br>Orders</h2>
        </div>
    </div>
  </div>

    <div class="container onyx">

      <div class="row">
                {% if incomplete_orders %}
                  {% for order in incomplete_orders %}
                  <div class="col-sm-6 col-md-4">            
                      
                    <span data-toggle="tooltip" data-placement="top" title="{{ order.order_number }}">
                      ...{{ order.order_number|slice:"-4:" }}
                    </span>
                    
                    <p>{{ order.full_name }}</p>                        
                    <p class="d-inline-block" style="max-width: 30ch; word-wrap: break-word;">
                      {% for lineitem in order.lineitems.all %}
                      {{ lineitem.product.name }}
                      {% if lineitem.product_variant %}
                      <strong><small>for: </small>{{ lineitem.product_variant }}</strong>
                      {% endif %}
                      <p class="text-right d-inline-block">x{{ lineitem.quantity }}</p>
                      <br>
                      {% endfor %}
                    </p>
                    <p>{{ order.street_address1 }}</p>
                    <p>{{ order.street_address2 }}</p>
                    <p>{{ order.town_or_city }}</p>                       
                    <p>{{ order.county }}</p>
                    <p>{{ order.country }}</p>
                    <p>{{ order.postcode }}</p>
                                           
                                            
                    <div>            
                      <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="order_id" value="{{ order.id }}">
                        <button type="submit" class="btn btn-primary"><strong>SHIP</strong></button>
                      </form>
                    </div>

                  </div>                   
                  {% endfor %}
                </tbody>
                {% else %}
                <tbody>
                  <tr>
                    <td colspan="7">No pending orders</td>
                  </tr>
                </tbody>
                {% endif %}
              </table>
            </form>
          </div>
        </div> 
      </div>           
    </div>
{% endblock %}


