{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}

{% if user.is_superuser %}

<div class="container-fluid max-content rounded m-3">

    <div class="start-font row section-heading m-0 p-0">
        <div class="col-8 offset-2 float-center"></div>
            <h4 class="xanthous-text m-2 p-2 whitespace-nowrap">
                Newsletter Subscribers
            </h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-8 offset-2 white-text">
        <ul>
            {% for subscriber in subscribers %}
            <li>{{ subscriber.user.username }} - {{ subscriber.user.email }}</li>
        {% endfor %}
        </ul>
    </div>
</div>

{% else %}
<script>
    // JavaScript code to redirect to the homepage for rouge users
    window.location.href = "{% url 'home' %}";
</script>
{% endif %}  

{% endblock %}


