<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
</head>
<body class="moonstone">

    <div class="d-flex justify-content-center">
        <a class="white-text" href="{% url 'product_detail' review.product.id %}">
            {{ review.product }}
        </a>
    </div>
    <hr>    
    <p class="xanthous-text"><strong>{{ review.title }}</strong></p>
    <p>{{ review.body }}</p>
    <div>
        <a class="white-text rounded pink float-right pl-1 pr-1" href="{% url 'delete_review' review.id %}">
            delete
        </a>
    </div>
</div>
</div>

</body>
</html>