/*palette. 
color: #64A2AC; Moonstone
color: #BFA13C; Satin Sheen Gold
color: #F3B844; Xanthous
color: #EF9742; Butterscotch
color: #EB7640; Orange Crayola
color: #DA7092; Thulian Pink
color: #34373D; Onyx
color: #EBEBEB; White
*/

/* -----------------------------------------Base---------*/
body {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    overflow-y: auto;
    background: url("/static/media/paper-texture-plain.jpg") no-repeat center center fixed;
    background-size: cover;
    position: relative;
    font-family: 'Play', sans-serif;
    color: #EBEBEB;
    z-index: -10;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100vh;
    background-color: rgba(191, 161, 60, 0.35);
    z-index: -9;
}

.index-background {
    /*background: url("/static/media/arcade-live-still-background.png") no-repeat center center fixed;*/
    background: url("https://res.cloudinary.com/dwhennrjl/image/upload/v1689613878/static/css/arcade-live-still-background_otrsil.png") no-repeat center center fixed;
}

a {
    color:#DA7092;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

button {
    border-color: #EBEBEB;
}

#video-background, .index-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.custom-container {
    border-radius: 2px;
    overflow: hidden;
    margin: 1rem;
    width: fit-content;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
}

.big-bottom {
    padding-bottom: 5rem;
}

/*-----------------------------------------Header--------*/
.header {
    width: 100%;
    display: flex;
    position: sticky;
    height: 5rem;
    z-index: 1;
    
}

#header-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    z-index: -1;
}

.coin-logo {
    height: 5rem;
}

.header-icons, .footer-links {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    z-index: 10;
}

.header div, #user-options {
    margin-right: 1rem;
    align-items: center;
}

.header div i{
    font-size: 7.34375vw;
    flex-direction: row-wrap;
    cursor: pointer;
    min-width: 1.5rem;
}

.menu-icon:hover {
    color: #F3B844;
}

.search-icon:hover {
    color: #EF9742;
}

.pause-icon:hover {
    color: #EB7640; 
}

.shopping-bag-icon:hover {
    color: #64A2AC;
}

/*--------------------------Shopping bag header coin icon and bag total figure--*/

.bag-total {
    position: absolute;
}

/*--------------------------Base popups: menu, search and messages---*/
/*MENU*/
.modal-overlay-menu {
    display: none;
    position: fixed;
    top: 0;
    background: #EBEBEB;
    width: 100vw;
    height: 100vh;
    z-index: 9998;
}

.body-menu {
    height: 100vh;
    /*background: url("/static/media/paper-texture-plain.jpg") no-repeat center center fixed;*/
    background: url("https://res.cloudinary.com/dwhennrjl/image/upload/v1689613859/static/css/paper-texture-plain_io9ff2.jpg") no-repeat center center fixed;
    background-size: cover;
}

.body-menu-content {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(191, 161, 60, 0.35);
    height: 100vh;
    width: 100vw;
    top: 0;
    font-size: 2.5rem;
}

.body-menu-content div hr {
    background-color: #DA709228;
}

.body-menu-content div a:hover {
    color: #EBEBEB;
}

.spin-image {
    height: 8rem;
    animation: spin 650ms linear 1;
    transform-origin: center center;
    margin-bottom: 1rem;
}

.spin-image:hover {
    animation: spin 550ms linear infinite;
    transform-origin: center center;
}
  
@keyframes spin {
    0% {
      transform: rotateY(0deg);
    }
    10% {
      transform: rotateY(90deg);
    }
    30% {
      transform: rotateY(135deg);
    }
    70% {
        transform: rotateY(225deg);
    }
    90% {
        transform: rotateY(270deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
/*SEARCH*/
.search-bar {
    display: none;
    position: absolute;
    font-size: 1.1rem;
    top: 5.2rem;
    margin-left: calc(50vw - 7rem);
    z-index: 8000;
}

.search-bar input {
    border-width: 0rem;
    background-color: #EBEBEB;
    border-radius: 2px;
    padding-left: 1rem;
}

.search-bar input[type="text"]::placeholder {
    color: #DA7092cc;
}

.search-bar input[type="text"]  {
    outline: none;
    color: #DA7092cc;
}

.search-bar button {
    border-width: 0rem;
    background: none;
    font-size: 1.6rem;
    z-index: 9999;
}

.modal-overlay-search, .review-content-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9000;
    display: none;
}

.modal-content-search {
    position: relative;
    top: 50%;
    left: 50%;
    width: 65vw;
    transform: translate(-50%, -50%);
    background-color: #EBEBEB;
    padding: 1rem;
    border-radius: 2px;   
}

.modal-content-list{
    max-height: 45vh;
    overflow-y: auto;
}

.modal-content-list a div:hover {
    color:#64A2AC;
}

.collapse-search {
    position: absolute;
    font-size: 2.2rem;
    right: 2rem;
    z-index: 9999;
    top: 6.5rem;
    cursor: pointer;
}

.search-form-submit i {
    z-index: 9999;
}

/*--------------------------The account dropdown menu----*/

.dropdown-toggle::after {
    display: none;
}

.user-name {
    position: absolute;
    top: 4rem;
    font-size: 1.4rem;
}

#user-options:hover {
    color: #DA7092;
}

#user-options-dropdown  {
    position: absolute;
    top: 6rem;
    right:1rem;
}

#user-options-dropdown div ul li a {
    color:  #EBEBEB;
    font-size: 1.5rem;
}

.di1:hover {
    background: #F3B844;
}

.di2:hover {
    background: #EF9742;
}

.di3:hover {
    background: #EB7640;
}

.di4:hover {
    background: #DA7092;
}

/*-----------------------------------------Content------*/
.content {
    margin-top: 5rem;
}
/*-----------------------------------------Footer-------*/
footer {
    position: fixed;
    bottom: 0;
}

footer div p {
    position: fixed;
    bottom: 0;
    margin-bottom: 3px;
    white-space: nowrap;
    font-size: .8rem;
}

/*------------------------------------------Index-------*/
.index-logo {
    white-space: nowrap;
}

.title-border {
    border: 1rem solid #F3B844;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(50vw - 8.5rem);
    margin-top: 20vh;
}

.call-to-action:hover {
    background-color: #EBEBEB !important;
}

/*---------------------------------------------Products--------------------------------*/

/*-----------------------------------All Products-----*/

.product-container {
    padding-bottom: 3.5rem;
    padding-top: 1rem;
    width: 100vw;
}

.dropdown-menu {
    background: #da7092;
}

.dropdown-item {
    color: #EBEBEB !important;
}

.category-banner {
    width: 100vw;
    color: #EB7640 !important;
}

.category-container {
    max-width: 95vw;
    display: flex;
    flex-wrap: wrap;
}

.current-category {
    background-color: #f3b844cc;
}

.current-category a:hover {
    color: #EBEBEB;
}

/*--------------------------------Product Description---*/

.go-back-button{
    position: absolute;
    font-size: 2rem;
    margin-left: 1rem;
}

.go-back-button:hover, .fa-circle-arrow-up:hover {
    color: #DA7092;
}

.description-container {
    margin-top: 8vh;
    height: fit-content;
    min-height: calc(92vh - 80px);
}

.overlay-card-details {
    height: 100%;
    padding-bottom: 3.5rem;
    min-height: calc(92vh - 80px);
}

.rating-button, .expand-collapse-button {
    background: #886a2e00;
    font-size: 1rem;
    color: #EBEBEB;
    border-color: #eb764000;
}

.product-details-container {
    overflow-y: auto;
    background: #64a3ac46;
}

.decoration-stripe {
    height: 1rem;
    width: 100%;
    margin: 0;
}

.img-fluid {
    min-height: 4rem;
    min-width: 4rem;
}
/*-------------------------------------Edit Product---*/

/*-----------------------------------Review Product---*/

.review-page-image {
    height: auto;
    width: 50%;
}

.review-form textarea, #id_title {
    opacity: 0.75;
    color: #34373D;
}

/*--------------------------------------------Profile------------*/

.avatar-on-profile {
    position: absolute;
    right: 2rem;
    top: 9rem;
}

.avatar-large {
    height: 6rem;
    width: auto;
}

.modal-content {
    top: 20vh;
}

#file-submission-form {
    max-width: 65vw;
}

#file-submission-form input {
    max-width: 55vw;
}

#id-avatar-name ::placeholder {
    color: #EBEBEB;
}

/*----------------------------------------Colour Palette and Texture---*/
.texture {
    background: url("https://res.cloudinary.com/dwhennrjl/image/upload/v1689613859/static/css/paper-texture-plain_io9ff2.jpg") no-repeat center center fixed;
    background-size: cover;
    max-width: max-content;
}

.texture-text {
    background: url("https://res.cloudinary.com/dwhennrjl/image/upload/v1689613859/static/css/paper-texture-plain_io9ff2.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-clip: text;
}

.opacity-75 {
    opacity: 0.90;
}

.test-div {
    height: 6rem;
    width: 100vw;
}

.moonstone {
    background: #64A2AC;
}

.satin {
    background: #bfa03c;
}

.xanthous {
    background: #F3B844;
}

.butterscotch {
    background: #EF9742; 
}

.orange {
    background: #EB7640; 
}

.pink {
    background: #DA7092;
}

.white {
    background: #EBEBEB;
}

.onyx {
    background: #34373Dcc;
}

.moonstone-text {
    color: #64a3ac;
}

.satin-text {
    color: #BFA13C;
}

.xanthous-text {
    color: #F3B844;
}

.butterscotch-text {
    color: #EF9742; 
}

.orange-text {
    color: #EB7640; 
}

.pink-text {
    color: #DA7092; 
}

.white-text, li a {
    color: #EBEBEB;
}

.onyx-text {
    color: #34373D;
}

.start-font {
    font-family: 'Press Start 2P', cursive;
}

.play-font {
    font-family: 'Play', sans-serif;
}

/*------------------------------animate text by color change----*/

@keyframes flicker {
    0% {
        color: #34373D
    }
    90% {
        color: #34373D;
    }
    95% {
      color: #BFA13C;
    }
    100% {
      color: #DA7092;
    }
  }
  
  .flicker {
    animation: flicker 3650ms infinite;
  }

/*------------------------------------------return to top arrow--------*/
.fa-circle-arrow-up {
    font-size: 2rem;
    position: fixed;
    bottom: 1rem;
    right: 0.5rem;
    cursor: pointer;
}

.hidden {
    display: none;
}

/*---------Invisible scrollbar For WebKit browsers (Chrome, Safari, Opera)-----*/

    ::-webkit-scrollbar {
        width: 0rem;
}
  
    ::-webkit-scrollbar-track {
        background-color: transparent;
}
  
    ::-webkit-scrollbar-thumb {
        background-color: transparent;
}

/*----------------------------------------style above 470xp-----------*/

@media (min-width: 470px) {
    /* style border off center for medium and larger screens */
    .title-border {
        margin-left: calc(33vw - 8.5rem)
    }
    /* style header icons to finish scaling */
    .header div i{
        font-size: 2rem;
        padding: .5rem;
    }
}

@media (max-width: 739px) {
    .search-form-submit i {
        color: #DA7092 !important;
    }
}

@media (min-width: 740px) {

    /* Place the search bar into the space of the header */
    .search-bar {
        top: 1rem;
        margin-left: 0;
        right: 25.5rem;
    }
}

@media (min-width: 899px) {
    /* Place the search bar into the space of the header */
    .search-bar {
        font-size: 1.6rem;
        top: 1rem;
        right: calc(50vw - 7rem);
    }
}