/*palette. 
color: #64A2AC; Moonstone
color: #BFA13C; Satin Sheen Gold
color: #F3B844; Xanthous
color: #EF9742; Butterscotch
color: #EB7640; Orange Crayola
color: #DA7092; Thulian Pink
color: #34373D; Onyx
color: #EBEBEB; White
*/

/* -----------------------------------------Base---------*/
body {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    overflow-y: auto;
    background: #34373D;
    font-family: 'Play', sans-serif;
    color: #34373D;
    z-index: -10;
}

.index-background {
    /*background: url("/static/media/arcade-live-still-background.png") no-repeat center center fixed;*/
    background: url("https://res.cloudinary.com/dwhennrjl/image/upload/v1689613878/static/css/arcade-live-still-background_otrsil.png") no-repeat center center fixed;
}

/*-----------------element rules--------*/

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

button {
    border-color: #EBEBEB;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
}

.big-bottom {
    padding-bottom: 5rem;
}

.whitespace-nowrap {
    white-space: nowrap !important;
}

.whitespace-wrap {
    white-space: break-spaces;
}

.pointer-on-hover {
    cursor: pointer;
}

#video-background, .index-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.custom-container {
    border-radius: 2px;
    overflow: hidden;
    margin: 1rem;
    width: fit-content;
}

.fa-mailchimp-index {
    font-size: 8rem;
    position: absolute;
    bottom: 4.4rem;
    left: -.4rem;
    transform: rotate(340deg);
    z-index: 8000;
}

.newletter-call-to-action p {
    transform: rotate(312deg);
    font-size: 1rem;
    width: 5rem;
    border-radius: 20%;
    position: absolute;
    bottom: 2.7rem;
    left: 5rem;
    z-index: 1;
}
/*<div class="text-center white-text newletter-call-to-action">
<a href="{% url 'newsletter_signup' %}" class=" white-text">
    <i class="fa-brands fa-mailchimp"></i>
    <p class="mb-0">Sign up today!</p>
    <i class="fa-regular fa-thumbs-up"></i>
</a>
</div>*/

/*-----------------------------------------Header--------*/
.header {
    width: 100%;
    display: flex;
    position: sticky;
    height: 5rem;
    z-index: 1;
    
}

#header-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    z-index: -1;
}

.coin-logo {
    height: 5rem;
}

.header-icons {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    z-index: 10;
}

.header div, #user-options {
    margin-right: 1rem;
    align-items: center;
}

.header div i{
    font-size: 7.34375vw;
    flex-direction: row-wrap;
    cursor: pointer;
    min-width: 1.5rem;
}

.menu-icon:hover {
    color: #BFA13C;
}

.game-icon:hover {
    color: #F3B844;
}

.search-icon:hover {
    color: #EF9742;
}

.pause-icon:hover {
    color: #EB7640; 
}

.shopping-bag-icon:hover {
    color: #64A2AC;
}

.bag-total:hover {
    background-color: #64A2AC;
}

/*--------------------------Shopping bag header coin icon and bag total figure--*/

.bag-total {
    position: absolute;
}

/*--------------------------Base popups: menu, search and messages---*/
/*MENU*/
.modal-overlay-menu {
    display: none;
    position: fixed;
    top: 0;
    background: #EBEBEB;
    width: 100vw;
    height: 100vh;
    z-index: 9998;
}

.body-menu-content {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(191, 161, 60, 0.35);
    height: 100vh;
    width: 100vw;
    top: 0;
    font-size: 2.5rem;
    z-index: 9999;
}

.body-menu-content div hr {
    background-color: #DA709228;
}

.body-menu-content div a:hover {
    color: #EBEBEB;
}

.spin-image {
    height: 8rem;
    animation: spin 650ms linear 1;
    transform-origin: center center;
    margin-bottom: 1rem;
}

.spin-image:hover {
    animation: spin 550ms linear infinite;
    transform-origin: center center;
}

#header-coin-toss:hover  {
    animation: spin 650ms linear 1;
    transform-origin: center center;
}
  
@keyframes spin {
    0% {
      transform: rotateY(0deg);
    }
    10% {
      transform: rotateY(90deg);
    }
    30% {
      transform: rotateY(135deg);
    }
    70% {
        transform: rotateY(225deg);
    }
    90% {
        transform: rotateY(270deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

/*SEARCH*/
.search-bar {
    display: none;
    position: absolute;
    font-size: 1.1rem;
    top: 5.2rem;
    margin-left: calc(50vw - 7rem);
    z-index: 8000;
}

.search-bar input {
    border-width: 0rem;
    background-color: #EBEBEB;
    border-radius: 2px;
    padding-left: 1rem;
}

.search-bar input[type="text"]::placeholder {
    color: #DA7092cc;
}

.search-bar input[type="text"]  {
    outline: none;
    color: #DA7092cc;
}

.search-bar button {
    border-width: 0rem;
    background: none;
    font-size: 1.6rem;
    z-index: 9999;
}

.modal-overlay-search, .review-content-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9000;
    display: none;
}

.modal-content-search {
    position: relative;
    top: 50%;
    left: 50%;
    width: 65vw;
    transform: translate(-50%, -50%);
    background-color: #EBEBEB;
    padding: 1rem;
    border-radius: 2px;   
}

.modal-content-list{
    max-height: 45vh;
    overflow-y: auto;
}

.modal-content-list a div:hover {
    color:#64A2AC;
}

.collapse-search {
    position: absolute;
    font-size: 2.2rem;
    right: 2rem;
    z-index: 9999;
    top: 6.5rem;
    cursor: pointer;
}

.search-form-submit i {
    z-index: 9999;
    font-size: 1.5rem;
    margin-bottom: 0;
}

/*--------------------------The account dropdown menu----*/

.dropdown-toggle::after {
    display: none;
}

#messages {
    position: absolute;
    top: 4rem;
    font-size: 1.4rem;
}


.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

#user-options:hover {
    color: #DA7092;
}

#user-options-dropdown  {
    position: absolute;
    top: 6rem;
    right:1rem;
}

#user-options-dropdown div ul li a {
    color:  #34373D;
    font-size: 1.5rem;
}

.di1:hover {
    background: #F3B844;
}

.di2:hover {
    background: #EF9742;
}

.di3:hover {
    background: #EB7640;
}

.di4:hover {
    background: #64A2AC;
}

/*-----------------------------------------Content------*/
.content {
    margin-top: 5rem;
}
/*-----------------------------------------Footer-------*/

footer {
    position: fixed;
    bottom: 0;
    max-height: 3.5rem;
}

footer div p {
    bottom: 0;
    margin-bottom: 3px;
    white-space: nowrap;
    font-size: .8rem;
}

.facebook-icon {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 2.5rem;
    right: 0.8rem;
    z-index: 9999;
    position: fixed;
    font-size: 2rem;
}

/*------------------------------------------Index-------*/
.index-logo {
    white-space: nowrap;
}

.title-border {
    border: 1rem solid #F3B844;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(50vw - 8.5rem);
    margin-top: 20vh;
}

.call-to-action:hover {
    background-color: #EBEBEB !important;
}

/*---------------------------------------------Products--------------------------------*/

/*-----------------------------------All Products-----*/

.product-container {
    padding-bottom: 3.5rem;
    padding-top: 1rem;
    width: 100vw;
}

.dropdown-menu {
    background: #da7092;
}

.dropdown-item {
    color: #EBEBEB !important;
}

.category-banner {
    width: 100vw;
}

.category-container {
    max-width: 95vw;
    display: flex;
    flex-wrap: wrap;
}

.current-category {
    background-color: #f3b844cc;
}

.current-category a:hover {
    color: #EBEBEB;
}

/*--------------------------------Product Description---*/

.go-back-button {
    position: fixed;
    height: 2.4rem;
    width: 2.4rem;
    font-size: 2rem;
    bottom: 2.7rem;
    left: 1rem;
    z-index: 200;
}

.go-back-button:hover,
.fa-circle-arrow-up:hover {
  color: var(--random-color);
}

.description-container {
    margin-top: 8vh;
    height: fit-content;
    min-height: calc(92vh - 80px);
}

.overlay-card-details {
    height: 100%;
    padding-bottom: 3.5rem;
    min-height: calc(92vh - 80px);
}

.rating-button, .expand-collapse-button {
    background: #886a2e00;
    font-size: 1rem;
    color: #EBEBEB;
    border-color: #eb764000;
}

.product-details-container, .scroll-y {
    overflow-y: auto;
}

.size-limit {
    max-height: 70vh;
}

.decoration-stripe {
    height: 1rem;
    width: 100%;
    margin: 0;
}

.img-fluid {
    min-height: 4rem;
    min-width: 4rem;
}
/*-------------------------------------Edit Product---*/

/*-----------------------------------Review Product---*/

.review-page-image {
    height: auto;
    width: 50%;
}

.review-form textarea, #id_title {
    opacity: 0.75;
    color: #34373D;
}

/*--------------------------------------------Profile------------*/

.avatar-on-profile {
    position: absolute;
    right: 2rem;
    top: 9rem;
}

.avatar-large {
    height: 6rem;
    width: auto;
}

.modal-content {
    top: 20vh;
}

#file-submission-form {
    max-width: 65vw;
}

#file-submission-form input {
    max-width: 55vw;
}

#id-avatar-name ::placeholder {
    color: #EBEBEB;
}

/*------------------------------------------------------Checkout-------*/

@media (min-width: 992px) {

    .y-scroll-form {
        max-height: 30vh !important;
        overflow-y: auto;
    }

}

/*----------------------------------------------------------Admin------*/

/*----Index Icon---*/
.admin-icon {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 2.5rem;
    z-index: 999;
    position: fixed;
    right: 4rem;
}

.admin-icon div {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.admin-icon a i {
    font-size: 1.4rem;
}

.admin-access {
    font-size: 0.7rem;
    display: none;
    position: fixed;
    right: 1rem;
    bottom: 0rem;
}

/*--------------Admin Pending Orders------*/

.pending_order_section_slider {
    display: flex;
    overflow-x: auto;
}

.section-secondary-heading {
    position: absolute;
    right: 1rem;
    top: 10.2rem;
}

.select-all-orders {
    font-size: 1.3rem;
    position: absolute;
    top: 13.2rem;
    right: 1rem;
}

input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
}
/* Add the following CSS to prevent wrapping and control alignment */
.butterscotch {
    white-space: nowrap;
 }

/*----------------------Admin Menu--------*/

#hal_administrator, 
.sorrydave {
    background: url('https://res.cloudinary.com/dwhennrjl/image/upload/v1689613848/static/css/hal-9000-menu-page.jpg') center center fixed;
    background-size: cover;
    z-index: 100;
    overflow: hidden;
}

#hal_administrator::before {
    background-color: rgba(191, 161, 60, 0);
}

.fade-out {
    animation: fadeOut 5s linear;
    animation-fill-mode: forwards; 
}

.fade-out-later {
    animation: fadeOut 12s linear;
    animation-fill-mode: forwards; 
}

.typing-text {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
}

/*-------Fades out Hal's message about knowing who you are----*/
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/*------Animates Hal's messages-----------*/
@keyframes typingAnimation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.typing-text::after {
    content: attr(data-content);
    display: inline-block;
    width: 0;
    animation: typingAnimation 30s steps(80, end);
}

#hals_eye,
.hals_eye {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 27vh;
    width: 27vh;
    opacity: 0.02;
    animation: oscillateOpacity 2s linear infinite alternate;
    z-index: 1;
}

@keyframes oscillateOpacity {
    from {
        opacity: 0.01;
    }
    to {
        opacity: 0.1;
    }
}

.admin-areas-icons {
    width: 100vw;
    bottom: 6rem;
    position: fixed;
    padding-inline: 10vw;
    display: flex;
    justify-content: space-around;
}

.admin-areas-icons i {
    font-size: 2rem;
}

/*----------------------------------------Colour Palette---*/
.texture {
    max-width: max-content;
}

.moonstone {
    background: #64A2AC;
}

.satin {
    background: #bfa03c;
}

.xanthous {
    background: #F3B844;
}


.butterscotch {
    background: #EF9742; 
}

.orange {
    background: #EB7640; 
}

.pink {
    background: #DA7092;
}

.white {
    background: #EBEBEB;
}


.onyx {
    background: #34373D;
}

.moonstone-text {
    color: #64a3ac;
}

.satin-text {
    color: #BFA13C;
}

.xanthous-text {
    color: #F3B844;
}

.butterscotch-text {
    color: #EF9742; 
}

.orange-text {
    color: #EB7640; 
}

.pink-text {
    color: #DA7092; 
}

.white-text {
    color: #EBEBEB;
}

.onyx-text {
    color: #34373D;
}

.start-font {
    font-family: 'Press Start 2P', cursive;
}

.play-font {
    font-family: 'Play', sans-serif;
}

/*------------------------------animate text by color change----*/

@keyframes flicker {
    0% {
        color: #34373D
    }
    90% {
        color: #34373D;
    }
    95% {
      color: #BFA13C;
    }
    100% {
      color: #DA7092;
    }
  }
  
  .flicker {
    z-index: 9999;
    animation: flicker 3650ms infinite;
  }

/*---------------------------------------404-----*/

.return-coin {
    position: absolute;
    left: calc(50vw - 95.75px);
    bottom: 1rem;
}

/*------------------------------------------return to top arrow--------*/

.return-to-top {
    font-size: 2rem;
    cursor: pointer;
    height: 2.4rem;
    width: 2.4rem;
    position: fixed;
    bottom: 2.5rem;
    right: calc(50vw - 1.2rem);
    z-index: 200;
}

.hidden {
    display: none;
}

/*---------Invisible scrollbar For WebKit browsers (Chrome, Safari, Opera)-----*/

    ::-webkit-scrollbar {
        width: 0rem;
}
  
    ::-webkit-scrollbar-track {
        background-color: transparent;
}
  
    ::-webkit-scrollbar-thumb {
        background-color: transparent;
}

/*----------------------------------------style above 470xp-----------*/

@media (min-width: 470px) {
    /* style border off center for medium and larger screens */
    .title-border {
        margin-left: calc(33vw - 8.5rem)
    }
    /* style header icons to finish scaling */
    .header div i{
        font-size: 2rem;
        padding: .5rem;
    }
}

@media (min-width: 740px) {

    /* Place the search bar into the space of the header */
    .search-bar {
        top: 1rem;
        margin-left: 0;
        right: 25.5rem;
    }
}

@media (min-width: 1060px) {
    /* Place the search bar into the space of the header */
    .search-bar {
        font-size: 1.6rem;
        top: 1rem;
        right: calc(50vw - 7rem);
    }
}

/* Reduce coin size for so header-icons can fit on the smallest screens */
@media (max-width: 350px) {

    .coin-logo {
        height: 3.5rem;
        margin-top: .65rem;
    }

}

/*---------------On shorter mobile screens the title-border needs to raise 
-----------------to allow for the facebook link--------------------------------*/

@media (max-height: 650px) {

    .title-border {
        margin-top: 2vh !important;
    }

}