/*palette. 
color: #64A2AC; Moonstone
color: #BFA13C; Satin Sheen Gold
color: #F3B844; Xanthous
color: #EF9742; Butterscotch
color: #EB7640; Orange Crayola
color: #DA7092; Thulian Pink
color: #34373D; Onyx
*/


/* -----------------------------------------Base---------*/
body {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background: url("/static/media/arcade-live-still-background.png") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Play', sans-serif;
    color: #EBEBEB;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.custom-container {
    border-radius: 2px;
    overflow: hidden;
    margin: 1rem;
    width: fit-content;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
}
/*-----------------------------------------Header--------*/
.header {
    width: 100%;
    display: flex;
    position: sticky;
    height: 5rem;
    z-index: 9999;
    
}

#header-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    z-index: -1;
}

.coin-logo {
    height: 5rem;
}

.header-icons, .footer-links {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.header div {
    margin-right: 1rem;
}

.header div i{
    font-size: 2rem;
    padding: .5rem;
    flex-direction: row;
    margin-top: .75rem;
    cursor: pointer;
}
/*--------------------------Base popups, search and messages---*/

.search-bar {
    display: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
}

/*-----------------------------------------Content------*/
.content {
    margin-top: 5rem;
}
/*-----------------------------------------Footer-------*/
footer {
    position: fixed;
    bottom: 0;
}

footer div p {
    position: fixed;
    bottom: 0;
    margin-bottom: 3px;
    white-space: nowrap;
    font-size: .8rem;
}

/*------------------------------------------Index-------*/
.index-logo {
    white-space: nowrap;
}

.title-border {
    border: 1rem solid #64A2AC;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(33vw - 8.5rem);
    margin-top: 20vh;
}

/*----------------------------------------Colour Palette and Texture---*/
.texture {
    background: url("/static/media/paper-texture-plain.jpg") no-repeat center center fixed;
    background-size: cover;
    max-width: fit-content;
    position: relative;
}

.texture-text {
    background: url("/static/media/paper-texture-plain.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-clip: text;
}

.opacity-75 {
    opacity: 0.75;
}

.test-div {
    height: 6rem;
    width: 100vw;
}

.moonstone {
    background: #64A2ACcc;
}

.satin {
    background: #bfa03ccc;
}

.xanthous {
    background: #F3B844cc;
}

.butterscotch {
    background: #EF9742cc; 
}

.orange {
    background: #EB7640cc; 
}

.pink {
    background: #DA7092cc;
}

.white {
    background: #EBEBEBcc;
}

.onyx {
    background: #34373Dcc;
}

.moonstone-text {
    color: #64a3ac;
}

.satin-text {
    color: #BFA13C;
}

.xanthous-text {
    color: #F3B844;
}

.butterscotch-text {
    color: #EF9742; 
}

.orange-text {
    color: #EB7640; 
}

.pink-text {
    color: #DA7092; 
}

.white-text, li a {
    color: #EBEBEB;
}

.onyx-text {
    color: #34373D;
}

.start-font {
    font-family: 'Press Start 2P', cursive;
}

.play-font {
    font-family: 'Play', sans-serif;
}

/*------------------------------animate text by color change----*/

@keyframes flicker {
    0% {
        color: #34373D
    }
    90% {
        color: #34373D;
    }
    95% {
      color: #BFA13C;
    }
    100% {
      color: #DA7092;
    }
  }
  
  .flicker {
    animation: flicker 3650ms infinite;
  }

/*------------------------------------------return to top arrow--------*/
.fa-circle-arrow-up {
    font-size: 2rem;
    position: fixed;
    bottom: 1rem;
    right: 0.5rem;
    cursor: pointer;
}

.hidden {
    display: none;
}