<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Classics
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="classics-link">
                <a href="{% url 'products' %}?category=shooters" class="dropdown-item">Shoot 'em Ups</a>
                <a href="{% url 'products' %}?category=platform_style" class="dropdown-item">Platformer</a>
                <a href="{% url 'products' %}?category=puzzle" class="dropdown-item">Puzzle</a>
                <a href="{% url 'products' %}?category=shooters,platformer,puzzle,classics" class="dropdown-item">All Classics</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Modern Hits
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="modern-hits-link">
                <a href="{% url 'products' %}?category=star_wars_franchise" class="dropdown-item">Star Wars Collection</a>
                <a href="{% url 'products' %}?category=racing_style" class="dropdown-item">Racing</a>
                <a href="{% url 'products' %}?category=japan_made_games" class="dropdown-item">Japanese Releases</a>
                <a href="{% url 'products' %}?category=japan_made_games,racing_style,star_wars_franchise" class="dropdown-item">All Modern Hits</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Merchandise
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="merchandise-link">
                <a href="" class="dropdown-item">Collectors Corner</a>
                <a href="" class="dropdown-item">Plushies</a>
                <a href="" class="dropdown-item">Controllers & Joysticks</a>
                <a href="" class="dropdown-item">All Merch</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Bundles</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>