<!DOCTYPE html>
<html>
<head>
    <title>Pixel Palace Arcade: Snakemode</title>
</head>
<body>
    <h1 class="moonstone-text">Snake Game</h1>
    
    <div id="player-info" class="moonstone-text">
        <p>Player: <span id="avatar-name">
            {{ avatar.avatar_name }}
            {% if player.avatar.avatar_name %}  
            {{ player.avatar.avatar_name }}
            {% elif player.user.username %}
            {{ player.user.username }}
            {% elif player.player_name %}
            {{ player.player_name }}
            {% else %}
            <form method="post" action="">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit">Save Name</button>
            </form>
            {% endif %}
        </span></p>
        <p>Score: <span id="score">{{ game.score }}</span></p>
    </div>
    
    <div id="game-board-container" class="game-board-container">
        <div id="game-board" class="game-board">
            {% for row in rows %}
                {% for col in cols %}
                    <div class="square {% if game_board.row.1 == forloop.counter0 and game_board.row.0 == forloop.parentloop.counter0 %}snake-head{% endif %}"></div>
                {% endfor %}
                <div style="clear: both;"></div> <!-- Clear float after each row -->
            {% endfor %}
        </div>
    </div>
    
    <div id="controls">

    </div>

<script>
    $(document).ready(function() {
        // AJAX request to start_game view on DOM load
        $.ajax({
        type: "GET",
        url: "",  // Replace this with the URL configured for start_game view
        success: function(response) {
            // Handle the success response, e.g., update the game UI based on the received data
            console.log(response.message);
            // Additional logic to update the game UI based on the response data
        },
        error: function(error) {
            // Handle the error response, if any
            console.error(error);
        }
        });
    });
</script>

</body>
</html>
