{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
    <h1 class="moonstone-text">Snake Game</h1>
    <div id="player-info" class="moonstone-text">
        <p>Player: <span id="avatar-name">{{ avatar.player_name }}</span></p>
        <p>Score: <span id="score">{{ game.score }}</span></p>
    </div>
    <div id="game-board-container" class="game-board-container">
        <div id="game-board" class="game-board">
            <!-- Render the game board -->
            {% for row in game_board %}
                <div class="row">
                    {% for col in row %}
                        <div class="cell {% if col == 'X' %}snake {% elif col == 'O' %}food {% endif %}"></div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="controls">
        <button id="btn-up">Up</button>
        <button id="btn-down">Down</button>
        <button id="btn-left">Left</button>
        <button id="btn-right">Right</button>
        <button id="btn-pause">Pause</button>
        <button id="btn-end">End</button>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'snake/js/snake.js' %}"></script>
{% endblock %}
