<!DOCTYPE html>
<html>
<head>
    <title>Pixel Palace Arcade: Snakemode</title>
</head>
<body>
    <h1 class="moonstone-text">Snake Game</h1>
    <div id="player-info" class="moonstone-text">
        <p>Player: <span id="avatar-name">{{ avatar.player_name }}</span></p>
        <p>Score: <span id="score">{{ game.score }}</span></p>
    </div>
    <div id="game-board-container" class="game-board-container">
        <div id="game-board" class="game-board">
            <!-- Render the game board -->
            {% for row in game_board %}
                <div class="row">
                    {% for col in row %}
                        <div class="cell {% if col == 'X' %}snake {% elif col == 'O' %}food {% endif %}"></div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="controls">
        <a href="{% url 'change_direction' direction='up' %}"><button>Up</button></a>
        <a href="{% url 'change_direction' direction='down' %}"><button>Down</button></a>
        <a href="{% url 'change_direction' direction='left' %}"><button>Left</button></a>
        <a href="{% url 'change_direction' direction='right' %}"><button>Right</button></a>
        <a href="{% url 'pause_game' %}"><button>Pause</button></a>
        <a href="{% url 'end_game' %}"><button>End</button></a>
    </div>

<script>
    $(document).ready(function() {
        // AJAX request to start_game view on DOM load
        $.ajax({
        type: "GET",
        url: "",  // Replace this with the URL configured for start_game view
        success: function(response) {
            // Handle the success response, e.g., update the game UI based on the received data
            console.log(response.message);
            // Additional logic to update the game UI based on the response data
        },
        error: function(error) {
            // Handle the error response, if any
            console.error(error);
        }
        });
    });
</script>

</body>
</html>
