{% load static %}

{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Play&family=Press+Start+2P&family=Silkscreen&display=swap" rel="stylesheet">    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!--<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/dwhennrjl/raw/upload/v1689614673/static/css/base.a7c3b004e9c5.css">-->
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/0341233083.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Pixel Palace Arcade {% block extra_title %}{% endblock %}</title>
    <meta name="description"
      content= "The best website for arcade video games, gamer gifts, and classic
      gaming-themed merchandise">
    <meta name="keywords"
      content="Classic Arcade Games, 8-bit gaming merchandise, Nintendo Collectibles,
      Cool math games, Where to buy retro gaming accessories online, Best websites for vintage video games and collectibles,
      Unique gaming-themed gifts for gamers, Authentic gaming memorabilia for sale">
      
    <link rel='shortcut icon' type='image/png' href='https://res.cloudinary.com/dwhennrjl/image/upload/v1686138603/media/favicon_1_dtbsww.ico'/>
  </head>
  <body>
    
    <header>
      <div class="header">
       
        <div>
          <a href="/">
            <img id="header-coin-toss" class="coin-logo" src="https://res.cloudinary.com/dwhennrjl/image/upload/v1689615560/logo-coin_cah6hr.png" alt="Pixel Palace Arcade">
          </a>
        </div>
  
        <div class="header-icons">

          <div class="menu-icon texture-text pink-text">
            <i class="fa-sharp fa-solid fa-bars"></i>
          </div>

          <div class="game-icon">
            <a href="{% url 'products' %}"  class="texture-text moonstone-text profile-icon">
              <i class="fa-solid fa-gamepad"></i>
            </a>
          </div>
  
          <div onclick="toggleSearchBar()" class="search-icon texture-text xanthous-text">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
  
          <!--<div class="texture-text xanthous-text pause-icon" id="pause-button">
            <i class="fa-solid fa-pause"></i>
          </div>-->

          <div id="user-options">
            <a href="/profile" class="texture-text butterscotch-text profile-icon">
              <i class="fa-solid fa-person-falling"></i>

              <p id="messages"></p>

            </a>
            <!--The User Options dropdown menu-->
            <div class="hidden pink rounded m-0 mb-0 p-0 mt-1 user-options-dropdown" id="user-options-dropdown">
              <div class="texture white m-1 rounded">
                <ul class="list-inline list-unstyled text-center rounded" aria-labelledby="dropdownButton">
                  {% if user.is_authenticated %}
                  <li><a class="dropdown-item di1" href="/profile"><p class="onyx-text">Profile</p></a></li>
                  <li><a class="dropdown-item di2" href="{% url 'account_logout' %}"><p class="onyx-text">Log out</p></a></li>
                  {% else %}
                  <li><a class="dropdown-item di1" href="{% url 'account_login' %}"><p class="onyx-text">Log in</p></a></li>
                  <li><a class="dropdown-item di2" href="{% url 'account_signup' %}"><p class="onyx-text">Sign up</p></a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>

          <div class="texture-text orange-text">
            <a href="{% url 'view_bag' %}">
              <div class="orange-text"><i class="fa-solid fa-coins shopping-bag-icon"></i>
              </div>

              <div class="bag-total orange rounded onyx-text shopping-bag-icon">
                <p class="white py-0 pr-2 pl-3 m-1 rounded">
                  {% if grand_total %}
                      €{{ grand_total|floatformat:2 }}
                  {% endif %}
                </p>
              </div>
            </a>
          </div>

        </div>
    </header>


    {% block page_header %}
    {% endblock %}
    <!--The burger menu elements-->
    <div class="modal-overlay-menu">
      <div class="modal-content-menu" id="site-menu">
        {% include 'home/includes/burger-menu.html' %}
      </div>
    </div>


    <!--The search bar elements-->
    <div class="search-bar">
      <div class="modal-overlay-search">
        <div>
          <i class="fa-solid fa-circle-xmark collapse-search close-button butterscotch-text" id="close-button"></i>
        </div>
        <div class="modal-content-search texture" id="search-results">
        </div>
      </div>
      
      <div class="d-flex align-items-center justify-content-center">
        <form class="moonstone rounded pl-2 pb-2 pt-0" id="search-form">
          <input type="text" id="search-input" placeholder="Search the catalogue">
          <button type="submit" class="search-form-submit">            
            <i class="white-text mr-1 fa-solid fa-magnifying-glass" id="beat-fade"></i>
          </button>
        </form>
      </div>
    </div>
    
    <!--Quick return to top button-->
    <div class="return-to-top hidden" id="return-top">
      <div class="rounded-circle onyx d-flex align-items-center justify-content-center p-1">
        <i class="fa-solid fa-circle-arrow-up white-text mx-auto my-auto"></i>	
      </div>
    </div>

    <!--Admin button to access site administration menu-->
    {% if user.is_superuser %} 
      <p class="admin-access white-text onyx p-1 text-uppercase">Admin Access</p>
      <div class="admin-icon onyx rounded-circle">
        <div class="white rounded-circle">
          <a href="{% url 'admin_menu' %}">
            <i class="fa-solid onyx-text fa-key"></i>
          </a>
        </div>
      </div>
    {% endif %}
    
    {% block content %}
    {% endblock %}
 
   
    <footer class="w-100 onyx white-text">

      <div class="facebook-icon onyx rounded-circle">
        <a href="https://www.facebook.com/profile.php?id=100093332865500" target="_blank" rel="noopener">
          <i class="fab white-text fa-facebook"></i>
        </a>
      </div>
                   
      <div class="list-unstyled mt-2 mx-5 d-flex align-items-center justify-content-around">
        <a class="ml-2" href="{% url 'home' %}">Home</a>
        <a class="ml-2" href="{% url 'products' %}">Products</a>
        <a class="ml-2" href="{% url 'profile' %}">Profile</a>
        <a class="ml-2" href="{% url 'checkout' %}">Checkout</a>
      </div>

      <p class="ml-1 mt-0 mb-2 text-center">
        <i class="fa-regular fa-copyright"></i>
        <small>Copy right 2023 All Rights Reserved </small>
        <strong>Pixel Palace Arcade</strong>
      </p>
    </footer>

    {% block postloadjs %}
    {% endblock %}

    <script type="text/javascript">
      // Get the elements
      const adminIcon = document.querySelector('.admin-icon');
      const adminAccess = document.querySelector('.admin-access');
    
      // Add event listener for hover
      adminIcon.addEventListener('mouseenter', () => {
        adminAccess.style.display = 'block';
      });
    
      adminIcon.addEventListener('mouseleave', () => {
        adminAccess.style.display = 'none';
      });
  </script>

  <script>
    // Function to generate a random hex color from the given array
    function getRandomColor() {
      const hexColors = [
        "#64A2AC",
        "#BFA13C",
        "#F3B844",
        "#EF9742",
        "#EB7640",
        "#DA7092",
      ];
      const randomIndex = Math.floor(Math.random() * hexColors.length);
      return hexColors[randomIndex];
    }

    // Get all the CSS variables in the document
    const cssVariables = document.documentElement.style;

    // Set the --random-color CSS variable to the randomly selected color
    cssVariables.setProperty("--random-color", getRandomColor());
  </script>

<script>
  // return to top button
  window.addEventListener('DOMContentLoaded', function() {
    var topLink = document.getElementById('return-top');

    function updateVisibility() {
      if (window.scrollY > 0) {
        topLink.classList.remove('hidden');
      } else {
        topLink.classList.add('hidden');
      }
    }

    topLink.addEventListener('click', function(e) {
      e.preventDefault();
      window.scrollTo({ top: 0, behavior: 'smooth' });
    });

    // Check initial scroll position on page load
    updateVisibility();

    // Update visibility on scroll
    window.addEventListener('scroll', updateVisibility);
  });
</script>

<script>

    // Site menu overlay functionality, appear

    document.addEventListener('DOMContentLoaded', function() {
        var menuIcon = document.querySelector('.menu-icon');
        var siteMenuOverlay = document.querySelector('.modal-overlay-menu');
        
        siteMenuOverlay.style.display = 'none'; // Initially hide the modal overlay menu
        
        menuIcon.addEventListener('click', function() {
          siteMenuOverlay.style.display = 'block'; // Show the modal overlay menu
        });
      });
            

    // Search icon and bar functionality

    // make search submit button beat on hover
    document.addEventListener('DOMContentLoaded', function() {
      var element = document.getElementById('beat-fade');

      element.addEventListener('mouseover', function() {
        element.classList.add('fa-beat-fade');
      });

      element.addEventListener('mouseout', function() {
        element.classList.remove('fa-beat-fade');
      });
    });

    // Dropdown menu for user options. Toggling hidden class.
    const userOptions = document.getElementById('user-options');
    const userOptionsDropdown = document.getElementById('user-options-dropdown');
    let timeoutId;

    userOptions.addEventListener('mouseover', function() {
      clearTimeout(timeoutId);
      userOptionsDropdown.classList.remove('hidden');
    });

    userOptions.addEventListener('mouseout', function() {
      startTimeout();
    });

    userOptionsDropdown.addEventListener('mouseover', function() {
      clearTimeout(timeoutId);
    });

    userOptionsDropdown.addEventListener('mouseout', function() {
      startTimeout();
    });

    function startTimeout() {
      timeoutId = setTimeout(function() {
        userOptionsDropdown.classList.add('hidden');
      }, 5000);
    }

    // Getting length of a given username so that it can be positioned center on mobile
    const userName = document.getElementById('user-name');
    const screenWidth = window.innerWidth;
    var a, b;

    if (screenWidth > 469) {
      a = 104;
      b = 0;
    } else {
      const nameLength = userName.offsetWidth;
      a = screenWidth / 2;
      b = nameLength;
    }
    
    const rightValue = `calc(${a}px - ${b}px)`;

    userName.style.right = rightValue;

  </script>

    {% include 'products/includes/search-modal-functionality.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>