{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Play&family=Press+Start+2P&family=Silkscreen&display=swap" rel="stylesheet">    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!--<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/dwhennrjl/raw/upload/v1686278712/static/css/base.fca18418f337.css">-->
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/0341233083.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Pixel Palace Arcade {% block extra_title %}{% endblock %}</title>
    <meta name="description"
      content= "The best website for arcade video games, gamer gifts, and classic
      gaming-themed merchandise">
    <meta name="keywords"
      content="Classic Arcade Games, 8-bit gaming merchandise, Nintendo Collectibles,
      Cool math games, Where to buy retro gaming accessories online, Best websites for vintage video games and collectibles,
      Unique gaming-themed gifts for gamers, Authentic gaming memorabilia for sale">
      
    <link rel='shortcut icon' type='image/png' href='https://res.cloudinary.com/dwhennrjl/image/upload/v1685641498/static/favicon_arcade.ico'/>
  </head>
  <body>

    <video autoplay loop muted id="video-background">
      <source src="/static/media/arcade-room-live-wallpaper-compressed_tiny.mp4" type="video/mp4">
    </video>
    <!--<video autoplay loop muted id="video-background">
      <source src="/static/media/arcade-room-live-wallpaper-compressed.mp4" type="video/mp4">
    </video>-->

    <header class="container-fluid fixed-top head">
      <div id="topnav" class="row pt-lg-2 d-none d-lg-flex">
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
          <a href="{% url 'home' %}" class="nav-link main-logo-link">
            <h2 class="logo-font text-black my-0"><h1>PIXEL PALACE</h1><h2> Arcade</h2>
          </a>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <form method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
              <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search the Collection">
              <div class="input-group-append">
                <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                  <span class="icon">
                    <i class="fas fa-search" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <ul class="list-inline list unstyled text-center text-lg-right my-0">
            <li class="list-inline-item dropdown">
              <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                  <div><i class="fas fa-user fa-lg"></i></div>
                  {% if user.is_authenticated %}
                  <p>{{ user.username }}</p>
                  {% else %}  
                  <p class="my-0">My Account</p>
                  {% endif %}
                </div>
              </a>
              <div class ="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                  {% if request.user.is_superuser %}
                  <a href="{% url 'admin_order_list' %}" class="dropdown-item">Order Management</a>
                  <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                  {% endif %}
                  <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                  <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                  <a href="{% url 'account_signup' %}">Register</a>
                  <a href="{% url 'account_login' %}">Login</a>
                {% endif %}
              </div>
            </li>
            <li class="list-inline-item">
              <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                <div class="text-center">
                  <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                  <p class="my-0">
                    {% if grand_total %}
                      €{{ grand_total|floatformat:2}}
                    {% else %}
                      €0.00
                    {% endif %}
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          {% include 'includes/mobile-top-header.html' %}
          {% include 'includes/main-nav.html' %}
        </nav>
      </div>
    </header>

    {% if messages %}
      <div class="message-container">
          {% for message in messages %}
              {% with message.level as level %}
                  {% if level == 40 %}
                      {% include 'includes/toasts/toast_error.html' %}
                  {% elif level == 30 %}
                      {% include 'includes/toasts/toast_warning.html' %}
                  {% elif level == 25 %}
                      {% include 'includes/toasts/toast_success.html' %}
                  {% else %}
                      {% include 'includes/toasts/toast_info.html' %}
                  {% endif %}
              {% endwith %}
          {% endfor %}
      </div>

    {% endif %}  

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    <footer class="container-fluid foot">
      <div class="container d-none d-md-flex h-100 align-items-center">
        <div class="col-4 d-flex flex-column justify-content-center">          
          <small>
            <ul class="list-unstyled mt-2">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'products' %}">Products</a></li>
              <li><a href="{% url 'profile' %}">Profile</a></li>
            </ul>
          </small>
        </div>
        <div class="col-4 d-flex flex-column justify-content-center">
          <p><i class="fa-regular fa-copyright"></i> Copy right 2023 All Rights Reserved <strong>Pixel Palace Arcade</strong></p>
        </div>
        <div class="col-4 d-flex flex-column justify-content-center">
          <ul class="list-inline text-white ml-auto">
            <li class="list-inline-item m-2">
              <a href="https://www.facebook.com/profile.php?id=100093332865500" target="_blank" rel="noopener">
                <i class="fab fa-facebook" style="font-size: 3rem;"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    {% block postloadjs %}
    <script type="text/javascript">
      $('.toast').toast('show');
    </script>
    {% endblock %}
  </body>
</html>