<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function() {
        // Elements
        const gameBoard = document.getElementById("game-board");
        const btnUp = document.getElementById("btn-up");
        const btnDown = document.getElementById("btn-down");
        const btnLeft = document.getElementById("btn-left");
        const btnRight = document.getElementById("btn-right");
        const btnPause = document.getElementById("btn-pause");
        const btnEnd = document.getElementById("btn-end");
        const scoreElement = document.getElementById("score");


</script>