<!DOCTYPE html>
<html>
<head>
    <title>Gamestore Site Menu</title>
</head>
<body>
  <div class="body-menu">
    <div class="body-menu-content">
      <h1>        
          <div class="d-flex align-items-center justify-content-center">
          <a href="/">
            <img class="coin-logo spin-image mt-3" src="/static/media/logo-coin.png" alt="Spinning Pixel Palace Arcade Coin">
          </a>
        </div>
      </h1>

      <div>
        <a href="/" class="moonstone-text">
          <p>Home</p>
        </a>
        <hr>
      </div>
      <div>
        <a href="/products" class="satin-text">
          <p>Games & Merch</p>
        </a>
        <hr>
      </div>
      {% if user.is_authenticated %}
      <div>
        <a href="/profile" class="orange-text">
          <p>Profile</p>
        </a>
        <hr>
      </div>
      <div>
        <a href="{% url 'view_bag' %}" class="pink-text">
          <p>Checkout</p>
        </a>
        <hr>
      </div>
      <div>
        <a href="{% url 'account_logout' %}" class="xanthous-text">
          <p>Sign out</p>
        </a>
        <hr>
      </div>
      {% else %}
      <div>
        <a href="{% url 'account_login' %}" class="butterscotch-text">
          <p>Log in</p>
        </a>
        <hr>
      </div>
      <div>
        <a href="{% url 'account_signup' %}" class="orange-text">
          <p>Sign up</p>
        </a>
        <hr>
      </div>
      {% endif %}

    </div>
  </div>

</body>
</html>