{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="max-content">
        <h2 class="moonstone-text start-font text-center m-2 p-2">Add Product</h2>
    </div>

        <div class="row moonstone mb-5">
            <div class="col-12 col-md-6">
                <div class="text-center text-uppercase col-12 xanthous p-1 mb-1">
                    <a class="btn" href="{% url 'product_management' %}">
                        <strong>cancel</strong>
                    </a>
                    <button class="btn text-uppercase" type="submit">
                        <strong>Add Product</strong>
                    </button>
                </div>
                <form method="POST" action="{% url 'add_product' %}" class="col-8 offset-2 form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}