{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid description-container texture mt-2">
        <div class="row overlay-card overlay-card-details moonstone">
            <div>
                <div class="go-back-button orange-text mt-2">
                    <i class="fa-solid fa-circle-left"></i>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 offset-lg-2 mt-5">
                <div class="image-container my-3">
                    {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                </div>

                <div>
                    {% if reviews %}
                        <h4> Reviews</h4>
                        <hr>
                        {% for review in reviews %}
                        <small class="col text-right float-right">{{ review.created_at|date:"F d, Y" }}</small>
                        <br>
                        <p>
                            <div class="d-flex">
                                {% for avatar in avatars %}
                                  {% if avatar.user == review.user %}
                                  <div class="col-2">
                                    <img class="img-fluid" src="{{ avatar.image.url }}" alt="{{ avatar.user.username }} Avatar">
                                  </div>
                                  <div class="col-10">
                                    <p class="ml-5">{{ avatar.avatar_name }}</p>
                                  </div>
                                  {% endif %}
                                {% endfor %}
                            </div>
                            <strong>{{ review.title }}</strong>
                            <br>{{ review.body }}<br>
                            {% if review.user == request.user %}
                                <a class="text-danger col text-right" href="{% url 'delete_review' review.id %}">
                                    <small>delete your review</small>
                                </a>
                            {% else %}
                                {% if review.has_avatar %}                            
                                {% else %}
                                <small class="text-right">by {{ review.user }}</small>
                                {% endif %}
                            {% endif %}
                            <hr>
                        </p>
                        {% endfor %}
                    {% else %}
                        {% if user.is_authenticated %}
                        <p>No reviews yet, would you like to 
                            <a href="{% url 'create_review' product.id %}">leave one?</a>
                        </p>
                        {% else %}
                        <a  href="{% url 'account_signup' %}">Sign up to leave a review</a>
                        {% endif %}
                    {% endif %}
                </div>

            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-5">
                <div class="mb-1 mt-3">
                    <h3 class="pl-1 mb-0 orange">{{ product.name }}</h3>
                    {% if request.user.is_superuser %}
                    <p class="orange mb-0">
                        <small class="ml-1">
                            <a class="white-text" href="{% url 'edit_product' product.id %}">Edit </a>                                                       
                            <a class="onyx-text" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                    </p>
                    {% endif %}
                    <p class="lead pl-1 mb-0 text-left font-weight-bold butterscotch">€{{ product.price }}</p>
                    {% if product.category %}
                    <p class="small pl-1 mt-0 mb-0 butterscotch">
                        <a class="white-text" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    
                    <div class="xanthous pl-1">
                        {% if product.aggregaterating %}
                    <small class="onyx-text"><i class="fas fa-star mr-1"></i>{{ product.aggregaterating }} / 5</small>
                    {% else %}
                        <small class="onyx-text">No Rating</small>
                    {% endif %}
                                                          
                    {% if user.is_authenticated %}
                        {% if rating %}
                        <div>
                            <small class="text-muted">                                
                                <form method="POST" action="{% url 'product_detail' product_id=product.id %}">
                                    {% csrf_token %}
                                    <button class="rating-button" type="submit" name="delete_rating">
                                        {{ request.user.username }}'s score: 
                                        <i class="fas fa-star mr-1"></i>
                                        {{ rating.rating }} / 5
                                    </button>
                                </form>
                            </small>
                        </div>
                        {% if user.is_authenticated %}
                            {% if not reviews %}
                                <a href="{% url 'create_review' product.id %}">Leave a Review</a>
                            {% else %}
                                {% with has_review=false %}
                                    {% for review in reviews %}
                                        {% if review.user == request.user %}
                                            {% with has_review=true %}
                                                <p>You've reviewed this product</p>
                                            {% endwith %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if not has_review %}
                                        <a href="{% url 'create_review' product.id %}"><p>Leave a Review</p></a>
                                    {% endif %}
                                {% endwith %}
                            {% endif %} 
                        {% endif %}                      
                        {% else %}
                        <form action="{% url 'product_detail' product_id=product.id %}" method="POST">
                            {% csrf_token %}
                            {{ form.rating.label_tag }}  <!-- Renders the label for the rating field -->
                            {{ form.rating }}  
                            {% for rating in star_ratings %}
                                <input type="radio" name="rating" value="{{ rating }}" id="star{{ rating }}" style="display: none;">
                                <label for="star{{ rating }}"><i class="fas fa-star"></i></label>
                            {% endfor %}
                        </form>
                        <p class="pink-text mb-0"><small>Please leave a rating before submitting a review</small></p>                                                                  
                        {% endif %}
                    {% endif %}              
                    </div>

                </div>
                <div class="mb-0 mt-1">
                    <div>
                        <button 
                            class="expand-collapse-button mb-0 orange-text text-uppercase" 
                            onclick="toggleMaxHeight()"
                            id="toggle-description-field-button">
                            <strong>Expand</strong>
                        </button>
                    </div>
                    <p id="description-field" class="product-details-container mt-3">
                        {{ product.description }} 
                    </p>
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            {% with product.has_variants as v %}
                            {% if v %}
                            <div class="col-12 xanthous">
                                <p><strong>Console:</strong></p>
                                <select class="form-control rounded-0 w-50" name="product_variant" id="product_variant">
                                    <option value="xbox"><div>XBOX One</div></option>
                                    <option value="ps">Playstation 4</option>
                                    <option value="ds">Nintendo</option>
                                    <option value="pc">Desktop</option>
                                </select>
                            </div>
                            {% endif %}
                            <div class="col-12 xanthous">
                                <p class="mt-0"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group input-group-{{ product.id }}">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0 decrement-qty_{{ product.id }}" 
                                                data-item_id="{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus onyx-text"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black rounded-0 increment-qty_{{ product.id }}"
                                                data-item_id="{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus onyx-text"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col{% if v %}-12 mt-0{% endif %} butterscotch">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-3">
                                    <span class="icon">
                                        <i class="fa-solid fa-circle-chevron-left onyx-text"></i>                                    
                                    </span>
                                    <span class="play-font onyx-text">Keep Shopping</span>
                                </a>
                                
                                <span class="icon">
                                    <input type="submit" class="btn onyx-text rounded-0 play-font mt-3" value="Add to Bag">                                
                                </span>                                
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            
                            {% endwith %}
                            <div class="decoration-stripe orange"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    
    function setInitialMaxHeight() {
        var detailsContainer = document.getElementById("description-field");
        detailsContainer.style.maxHeight = "14vh";
    }

    // Set the initial max height on page load
    window.onload = setInitialMaxHeight;

    function toggleMaxHeight() {
        var detailsContainer = document.getElementById("description-field");
        var toggleButton = document.getElementById("toggle-description-field-button");

        if (detailsContainer.style.maxHeight) {
            detailsContainer.style.maxHeight = null;
            toggleButton.innerHTML = "<strong>Collapse</strong>";
        } else {
            detailsContainer.style.maxHeight = "14vh";
            toggleButton.innerHTML = "<strong>Expand</strong>";
        }
    }

    // Remove button where unnecessary
    function checkDescriptionLength() {
        var descriptionCharactersAmount = document.getElementById('description-field');
        var toggleDescriptionField = document.getElementById('toggle-description-field-button');

        if (descriptionCharactersAmount.innerText.length < 200) {
            toggleDescriptionField.classList.add('hidden');
        } else {
            toggleDescriptionField.classList.remove('hidden');
        }
        }
    // Call the function when the page finishes loading
    window.addEventListener('DOMContentLoaded', function() {
    checkDescriptionLength();
    });

</script>
{{ block.super }}
{% include 'includes/go-back-button.html' %}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}