{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
{% endblock %}

{% block content %}

    <div class="go-back-button onyx rounded-circle white-text d-flex align-items-center justify-content-center">
        <i class="fa-solid fa-circle-left"></i>
    </div>
    
    <div class="float-center">
        <h4 class="orange-text text-center mb-0 max-content">
            {{ product.name }}
        </h4>
    </div>

    <div class="container-fluid description-container max-content mt-0 mb-3">
        <div class="row overlay-card overlay-card-details moonstone pt-2">

            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-1">

                <div class="image-container">
                    {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                </div>

                <div class="mb-0 mt-2">
                    {% if request.user.is_superuser %}
                    <div class="orange decoration-stripe mb-0">
                        <div class="ml-1">
                            <a class="white-text onyx px-2 float-right" href="{% url 'delete_product' product.id %}">Delete</a>
                            <a class="float-right white px-2" href="{% url 'edit_product' product.id %}">Edit </a>                                                       
                        </div>
                    </div>
                    {% endif %}
                    <p class="lead pl-1 mb-0 text-left font-weight-bold butterscotch">€{{ product.price }}</p>
                    {% if product.category %}
                    <p class="small pl-1 mt-0 mb-0 butterscotch">
                        <a href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    
                    <div class="xanthous pb-2 mb-0 float-center text-center">
                        {% if product.aggregaterating %}
                    <small class="onyx-text"><i class="fas fa-star mr-1"></i>{{ product.aggregaterating }} / 5</small>
                    {% else %}
                        <small class="onyx-text">No Rating</small>
                    {% endif %}
                                                          
                    {% if user.is_authenticated %}
                        {% if rating %}
                        <div class="float-center mb-0 text-center">                                
                            <form method="POST" action="{% url 'product_detail' product_id=product.id %}">
                                {% csrf_token %}
                                <button class="rating-button onyx-text" type="submit" name="delete_rating">
                                    {{ request.user.username }}'s score: 
                                    <i class="fas fa-star mr-1"></i>
                                    {{ rating.rating }} / 5
                                </button>
                            </form>
                        </div>
                        {% if user.is_authenticated %}
                            {% if not reviews %}
                                <a href="{% url 'create_review' product.id %}">
                                    <h5 class="mb-0 text-center"><strong>Leave a Review</strong></h5></a>
                            {% else %}
                                {% with has_review=false %}
                                    {% if not has_review %}
                                        <a href="{% url 'create_review' product.id %}"><p>Leave a Review</p></a>
                                    {% endif %}
                                {% endwith %}
                            {% endif %} 
                        {% endif %}                      
                        {% else %}
                        <form action="{% url 'product_detail' product_id=product.id %}" method="POST">
                            {% csrf_token %}
                            {{ form.rating.label_tag }}  <!-- Renders the label for the rating field -->
                            {{ form.rating }}  
                            {% for rating in star_ratings %}
                                <input type="radio" name="rating" value="{{ rating }}" id="star{{ rating }}" style="display: none;">
                                <label for="star{{ rating }}"><i class="fas fa-star"></i></label>
                            {% endfor %}
                        </form>
                        <p class="pb-0"><small class="pb-0">Please leave a rating before submitting a review</small></p>                                                                  
                        {% endif %}
                    {% endif %}              
                    </div>

                </div>
                <div class="m-0 onyx">
                    <div class="m-0 onyx">
                        <button 
                            class="expand-collapse-button mb-0 white-text text-uppercase" 
                            onclick="toggleMaxHeight()"
                            id="toggle-description-field-button">
                            <strong>Expand</strong>
                        </button>
                    </div>

                    <p id="description-field" class="p-2 white-text onyx product-details-container mt-3">
                        {{ product.description }} 
                    </p>

                    <div class="xanthous">
                        <form action="{% url 'add_to_bag' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row w-100 mx-0">
                                {% with product.has_variants as v %}
                                {% if v %}
                                <div class="col-6 xanthous">
                                    <p class="mt-1"><strong>Console:</strong></p>
                                    <select class="form-control rounded-0 w-100" name="product_variant" id="product_variant">
                                        <option value="xbox"><div>XBOX One</div></option>
                                        <option value="ps">Playstation 4</option>
                                        <option value="ds">Nintendo</option>
                                        <option value="pc">Desktop</option>
                                    </select>
                                </div>
                                {% else %}
                                <div class="col-6 h-100 xanthous"></div>
                                {% endif %}
                                <div class="col-6 xanthous p-0">
                                    <p class="mt-1 p-0 ml-1"><strong>Quantity:</strong></p>
                                    <div class="form-group w-100">
                                        <div class="input-group input-group-{{ product.id }}">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-black rounded-0 decrement-qty_{{ product.id }}" 
                                                    data-item_id="{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-minus onyx-text"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                                                name="quantity" value="1" min="1" max="99"
                                                data-item_id="{{ product.id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-black rounded-0 increment-qty_{{ product.id }}"
                                                    data-item_id="{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-plus onyx-text"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="col{% if v %}-12 mt-0{% endif %} butterscotch">
                                    <a href="{% url 'products' %}" class="btn ml-0 pl-0">
                                        <span class="play-font onyx-text ml-0 pl-0">
                                            <i class="fa-solid fa-circle-chevron-left onyx-text ml-0 pl-0"></i>
                                            Keep Shopping
                                        </span>
                                    </a>                                    
                                    <span class="mr-0 pr-0">
                                        <input type="submit" class="btn play-font pr-0 mb-0 mr-0" value="Add to Bag">
                                        <i class="ml-1 fa-solid fa-bag-shopping"></i>
                                    </span>                                
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                
                                {% endwith %}
                                <div class="decoration-stripe orange"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-4 offset-lg-2 mt-1">

                <div class="onyx white-text px-2">
                    {% if reviews %}
                        <h4 class="text-center pt-2">Reviews</h4>
                        <hr>
                        <div class="scroll-y size-limit">
                        {% for review in reviews %}
                            <div class="row">
                                
                                    {% if review.has_avatar %}
                                    <div class="col-4">
                                        <img class="img-fluid" src="{{ review.avatar.image.url }}" alt="{{ avatar.user.username }} Avatar">
                                    </div>
                                    {% else %}
                                    <div class="col-4"></div>
                                    {% endif %}
                       
                                    {% if review.has_avatar %}
                                    <div class="col-8 text-right float-right">
                                        <p class="mb-0"><small>{{ review.created_at|date:"F d, Y" }}</small></p>
                                        <p class="m-0">by {{ review.avatar.avatar_name }}</p>
                                    {% else %}
                                    <div class="col-8 text-right float-right">
                                        <p class="mb-0"><small>{{ review.created_at|date:"F d, Y" }}</small></p>
                                        <small class="text-right">by {{ review.user }}</small>
                                    {% endif %}
                                 
                                    
                                </div>
                                                           
                                <div class="col-6 pt-2 pl-3">
                                    <strong>{{ review.title }}</strong>
                                </div>
                                {% if review.user == request.user %}
                                <div class="col-6 text-right float-right pt-3">
                                    <a class="text-danger white px-1 float-right" href="{% url 'delete_review' review.id %}">
                                        <strong>DELETE</strong>
                                    </a>
                                </div>
                                {% endif %}
                                <div class="col-12">
                                    <br>{{ review.body }}<br>
                                    <hr> 
                                </div>                                   
                            </div>                    
                        {% endfor %}
                    {% else %}
                            <div class="text-center">
                                {% if user.is_authenticated %}
                                <p>No reviews yet, would you like to 
                                    <a href="{% url 'create_review' product.id %}">leave one?</a>
                                </p>
                                {% else %}
                                <a  href="{% url 'account_signup' %}">Sign up to leave a review</a>
                                {% endif %}
                            </div>
                    {% endif %}
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    // This script creates a y scroll with option to expand element to
    // full height, where description is larger than 200 characters.
    function setInitialMaxHeight() {
        var detailsContainer = document.getElementById("description-field");
        detailsContainer.style.maxHeight = "14vh";
    }

    // Set the initial max height on page load
    window.onload = setInitialMaxHeight;

    function toggleMaxHeight() {
        var detailsContainer = document.getElementById("description-field");
        var toggleButton = document.getElementById("toggle-description-field-button");

        if (detailsContainer.style.maxHeight) {
            detailsContainer.style.maxHeight = null;
            toggleButton.innerHTML = "<strong>Collapse</strong>";
        } else {
            detailsContainer.style.maxHeight = "14vh";
            toggleButton.innerHTML = "<strong>Expand</strong>";
        }
    }

    // Remove button where unnecessary
    function checkDescriptionLength() {
        var descriptionCharactersAmount = document.getElementById('description-field');
        var toggleDescriptionField = document.getElementById('toggle-description-field-button');

        if (descriptionCharactersAmount.innerText.length < 200) {
            toggleDescriptionField.classList.add('hidden');
        } else {
            toggleDescriptionField.classList.remove('hidden');
        }
        }
    // Call the function when the page finishes loading
    window.addEventListener('DOMContentLoaded', function() {
    checkDescriptionLength();
    });

</script>
{{ block.super }}
{% include 'includes/go-back-button.html' %}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}