{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
{% if user.is_superuser %}
    <div class="max-content rounded m-3">
        <div class="xanthous-75 rounded">
            <h2 class="start-font orange-text m-2 p-2">Product<br>Management</h2>
        </div>
    </div>

    <div class="container-fluid xanthous">
        <div class="row">

            <div class="col-12 col-md-4 white">
                <ul class="list-unstyled p-1 col-12">

                    <div class="pt-1 row-reverse">
                        <div class="col-12 text-right mb-2">
                            <form method="GET" class="form-inline mt-3" id="admin-product-search-form">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search by name" name="q" value="{{ search_term|default_if_none:'' }}">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn moonstone">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-12 mb-1">
                            <a href="{% url 'add_product' %}">
                                <h5 class="mb-1 white-text pt-2"><strong class="onyx py-1 px-3">Add a product</strong></h5>
                            </a>
                        </div>
                        <h5 class="col-12 mb-1 onyx-text pt-2">Filter by Category</h5>
                    </div>

                    <div class="col-12">
                        <li class="nav-item dropdown">
                            <a href="{% url 'product_management' %}" class="dlogo-font pl-0 font-weight-bold nav-link">All Games and Merch</a>
                            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                                <a href="{% url 'product_management' %}?sort=price&direction=asc" class="dropdown-item di1">By Price</a>
                                <a href="{% url 'product_management' %}?sort=rating&direction=desc" class="dropdown-item di2">By Rating</a>
                                <a href="{% url 'product_management' %}?sort=category&direction=asc" class="dropdown-item di3">By Category</a>
                                <a href="{% url 'product_management' %}" class="dropdown-item di4">All Games and Merch</a>
                            </div>
                        </li>
                
                        <li class="nav-item dropdown">
                            <a class="logo-font pl-0 font-weight-bold nav-link" href="#" id="classics-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Classic Arcade
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="classics-link">
                                <a href="{% url 'product_management' %}?category=shooters" class="dropdown-item di1">Shoot 'em Ups</a>
                                <a href="{% url 'product_management' %}?category=platform_style" class="dropdown-item di2">Platformer</a>
                                <a href="{% url 'product_management' %}?category=puzzle" class="dropdown-item di3">Puzzle</a>
                                <a href="{% url 'product_management' %}?category=shooters,platformer,puzzle,classics" class="dropdown-item di4">All Classic Arcade</a>
                            </div>
                        </li>
                
                        <li class="nav-item dropdown">
                            <a class="logo-font pl-0 font-weight-bold nav-link" href="#" id="new-releases-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                New Releases
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="modern-hits-link">
                                <a href="{% url 'product_management' %}?category=star_wars_franchise" class="dropdown-item di1">Star Wars Collection</a>
                                <a href="{% url 'product_management' %}?category=racing_style" class="dropdown-item di2">Racing</a>
                                <a href="{% url 'product_management' %}?category=japan_made_games" class="dropdown-item di3">Best from Japan</a>
                                <a href="{% url 'product_management' %}?category=japan_made_games,racing_style,star_wars_franchise" class="dropdown-item di4">All New Releases</a>
                            </div>
                        </li>
                
                        <li class="nav-item dropdown">
                            <a class="logo-font pl-0 font-weight-bold nav-link" href="#" id="collectibles-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Collectibles
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="merchandise-link">
                                <a href="{% url 'product_management' %}?category=collectible" class="dropdown-item di1">Collectors Corner</a>
                                <a href="{% url 'product_management' %}?category=soft_toys" class="dropdown-item di2">Plushies</a>
                                <a href="{% url 'product_management' %}?category=equip" class="dropdown-item di3">Controllers & Joysticks</a>
                                <a href="{% url 'product_management' %}?category=collectible,soft_toys,equip" class="dropdown-item di4">All Collectibles</a>
                            </div>
                        </li>
                
                        <li class="nav-item dropdown">
                            <a class="logo-font pl-0 font-weight-bold nav-link" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Special Offers
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                                <a href="{% url 'product_management' %}?category=new" class="dropdown-item di1">New Arrivals</a>
                                <a href="{% url 'product_management' %}?category=deals" class="dropdown-item di2">Deals</a>
                                <a href="{% url 'product_management' %}?category=grouped_product_management" class="dropdown-item di3">Bundles</a>
                                <a href="{% url 'product_management' %}?category=new,deals,grouped_products" class="dropdown-item di4">All Specials</a>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>

            <div class="col-12 col-md-8 pt-3">

                <div class="col-12">
                    <div class="category-container white">
                        {% for category in current_categories %}
                        <div class="moonstone m-1 mt-3">
                            <div class="mx-2">
                                <a href="{% url 'product_management' %}?category={{ category.name }}" class="white-text">{{ category.friendly_name }}</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            <div class="row xanthous">
            {% for product in products %}

                <div class="col-xs-12 col-sm-6 col-lg-4 onyx-text">
                    <div class="moonstone p-1 mb-1">
                        <div class="m-1 white p-1">
                            <a href="{% url 'product_detail' product.id %}">
                                <p class="mb-0">{{ product.name }}</p> 
                            </a>
                            <strong>
                                <a class="white px-2" href="{% url 'edit_product' product.id %}">Edit</a>   
                                <a class="white-text onyx px-2" href="{% url 'delete_product' product.id %}">Delete</a>                                                                        
                            </strong>
                        </div>
                    </div>
                </div>

            {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <script>
        // JavaScript code to redirect to the homepage for rouge users
        window.location.href = "{% url 'home' %}";
    </script>
    {% endif %}  

{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}
