<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
</head>
<body class="moonstone">
    <h1 class="xanthous-text">Search Results for "{{ query }}"</h1>

    <hr>

    <ul class="modal-content-list">
        {% for product in results %}
            <a href="{% url 'product_detail' product.id %}">
                <div class="card-body d-flex align-items-end pb-0">
                    <p class="mb-0">{{ product.name }}</p>
                </div>
            </a>
        {% empty %}
            <li class="onyx-text">No results found.</li>
        {% endfor %}
    </ul>

</body>
</html>
